@model IEnumerable<PeScheduleDB.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <p>Search location by name:</p>
    <form asp-action="SearchLocation" asp-controller="Locations">
        <input type="text" name="LocationName" value="" />
        <input type="submit" name="submit" value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Location Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
