@using PeScheduleDB.Models
@model PaginatedList<PeScheduleDB.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Schedule</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Form for searching schedules by a specific date-->
<div>
    <form asp-action="SortSchedule" asp-controller="Schedules" method="get">
        <p>
            Search a specific date:
            <input type="date" name="Date" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back</a>
        </p>
    </form>
</div>

<!--Form for searching schedules by a specific course name or location name-->
<div>
    <form asp-action="Index" method="get">
        <p>
            Search a specific course or location: 
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back</a>
        </p>
    </form>
</div>

<!--Table displaying the schedule data-->
<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Teacher
            </th>
            <th>
                Location
            </th>
            <th>
                <!--Link to sort the schedules by date-->
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date/Time</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<!--Looping through each record in the table and displaying it in rows-->
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Teachers.TeacherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Deciding whether the previous and next buttons should be active-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<!--Links for the pagination navigation-->
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<!--Displaying current page number and total pages-->
<div>
    Page @Model.PageIndex of @Model.TotalPages
</div>