@model IEnumerable<PeScheduleDB.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <p>Sort schedule by date:</p>
    <form asp-action="SortSchedule" asp-controller="Schedules" method="get">
        <input type="date" name="Date" value="Date" />
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Teacher
            </th>
            <th>
                Location
            </th>
            <th>
                Date/Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Teachers.TeacherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
