@model IEnumerable<PeScheduleDB.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <p>Search course by name:</p>
    <form asp-action="SearchCourse" asp-controller="Courses">
        <input type="text" name="CourseName" value="" />
        <input type="submit" name="submit" value="Search" />
        <a asp-action="Index">Back</a>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Teacher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
